*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    background-color: white;
    overflow-x: hidden;
    overflow-y: auto;
    /* display: flex; */
    /* grid-template-rows:  1fr 1fr 1fr;
    grid-template-columns: repeat(3,1fr); */
}
.text{
      font-size: 61px;
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin-bottom: 50px;
}
.gallery{
    /* margin: 0 auto; */
    margin-left: 180px ;
 
    width:1000px ;
    height: 1500px; 
  
    display: grid;
    gap: 20px;
    grid-template-rows: repeat(3,390px);
    grid-template-columns: repeat(3,375px);
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */



    
}

.card{
    /* grid-row-start: 1;
    grid-row-end: 2; */
    width: 100%;
    height: 100%;
     position: relative;
     
    
}

.card:hover{
    filter: drop-shadow(0 0 10px #333);
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:10px ;
    filter: grayscale(100%);
   
    /* box-shadow: 0 0 20px #333; */
    
}

.card img:hover {
    filter: grayscale(0%);
    transform: scale(1.03);
    transition: 0.5s ease;
}
.card figcaption{
    position: absolute;
    padding: 25px;
    border-radius: 10px;
    bottom: 0;
    left: 0;
    opacity: 0;
    color: white;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
     transition: 0.3s;
     font-size: 16px;
   font-weight: 500;
   width: 100%;
  height: 20%;
}

.card:hover figcaption{
    transform: scale(1.05);
    opacity: 1;
    /* transition: 0.3s; */
}